.Delete{
  // background: yellow;
  margin-top: 10px;
  margin-bottom: 5px;
  .Button{
    background: red;
    width: 68px; 
  }
  .Button:nth-child(2){
    margin-right: 0px;
  }
}

@media screen and (max-width: 340px){
  .Delete{
    .Button{
    width: 63px;
    }
    
  }
}
