.Container {
  max-width: 70vw;
  max-height: 100vh;
  // display: grid;
  // grid-template-columns: 12fr;
  text-align: center;
  // justify-content: center;
  padding: 5%;
  background: #CBCBCB;
  border-radius: 15px;
  margin: 3vh auto;

  
}

.CalculatorScreen{
  max-height: 90%;
  background: #848484;
  text-align: right;
  border: 3px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  h1{
    font-size: 1.6em;
    color: white;
    margin: 0px;
    padding-top: 5px;
    max-height: 45px;
    padding-right: 15px;
  }
    h1:nth-child(1){
      max-width: 10%;
      padding-left: 5px;
      
    }
    h1:nth-child(2){
      max-width: 90%;
     
      
    }
}

.CalculatorBoard{
  max-height: 90%;
  display: flex;
  justify-content: space-around;
}

.Buttons{
  // background: white;
  width: 55%;
  text-align: left;
  
}




