.Button{
  width: 30px;
  height: 35px;
  color: white;
  font-size: 1.2rem;
  border: inherit;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.Button:focus {
  outline: none;
  opacity: 0.5;
  background: white;
}